<div class="estimate-header">
  <div class="left-header">
    <div class="header-title">
      hogefuga
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">見積を終了する</a>
    </div>
  </div>
</div>

<div class="titles">
  <div class="title">
    <div class="upper-title">
      <div class="title-user">
        Riho
      </div>
      <div class="title-date">
        2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class="lower-title">
     <div class="title-content">
       親族の交通費
     </div>
     <div class="title-amount">
       150,000円
     </div>
     <div class="title-memo">
       30,000円 x 5人
      </div>
    </div>
  </div>
</div>

<div class="form">
  <div class="form-input">
    <input class="form-title-content" placeholder="内容">
    <input class="form-title-amount" placeholder="金額">
    <input class="form-title-memo" placeholder="詳細">
  </div>
  <input class="form-submit" type="sumbit" value="送信">
</div>